{% extends 'base.html.twig' %}
{% block title %}PetAdopt' : Connexion{% endblock %}
{% block head %}
	<header class="header banner" id="header-perso3">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<a href=""><img src="Public/img/logo.png" alt="" id="logo2"></a>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block body %}
<form method="post">
	{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
	<div id="form_connexion">
		<h1 class="title-id">Connexion</h1>
		<form action="{{ path('login') }}" method="post">
			<div class="form-group">
				<input value="{{ last_username }}" placeholder="Pseudo" required name="_username" type="text" class="form-control">
			</div>
			<div class="form-group">
				<input placeholder="Mot de passe" required name="_password" type="password" class="form-control" >
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="form-group">
				<button type="submit" class="btn btn-success">Connexion</button>
			</div>
		</form>
	</div>
</form>
{% endblock %}