{% extends 'homeShowBase.html.twig' %}
{% block title %} PetAdopt' : Liste d'adoption{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
	<h1> Adopter un </h1>
	<article>
		{% for animal in animals %}
			<hr class="hr_liste">
			{{ animal.name }}
			{{ animal.type }}
			{{ animal.sexe }}
			{{ animal.region.name }}
		{% endfor %}
	</article>
{% endblock %}
{% block javascripts %}{% endblock %}