html,
body {
    height: 100%;
    width: 100%;
}

.admin_body {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    background:#f0f0f0;
}

h1 {
    font-family: Cormorant Garamond, sans-serif;
    margin-top: 100px;
}

h2 {
    font-family: Tangerine, sans-serif;
    font-size: 3em;
}

p {
    font-family: Lato, sans-serif;
}


.navbar-nav {
    z-index: 999;
}

.nav-item {
    padding: 8px; 
    border: solid 1px #f3f3f3;
    border-radius: 25% 25% 25% 25%;
}

.dropdown {
    border: none;
}


.form-inline {
    margin-right: 100px;
}

.navbar-nav a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-family: Cormorant Garamond, sans-serif;
}


.navbar-nav li:hover {
}

.main_sidebar {
    min-height:100vh;
    position:fixed;
    top:0;
    left:0;
    width:300px;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
    will-change: left, width;
    box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
    background: #293749;
}

.main_sidebar:after {
    content: '';
    background-color: #253238;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 58px;
}

.main_sidebar ul {
    list-style:none;
    padding-left:58px;
    clear: both;
}

.main_sidebar ul li {
    padding:10px;
}

.main_sidebar ul li a {
    color:#fff;
    display:block;
}

.main_sidebar ul li i {
    float:left;
    color:grey;
    margin-left:-58px;
    font-size:24px;
    padding-left:7px;
}

.main_sidebar ul li:hover {
    background:#167696;
}

.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}

.main_sidebar ul li:hover i {
    color:#fff;
}

.main_sidebar ul li.active {
    background:#0f4698;
}

.main_sidebar ul li.active i {
    color:#fff;
}

.main_sidebar ul li.active:hover {
    background:#167696;
}

.main_sidebar ul li.active:hover i {
    color:#fff;
}

.main {
    float:right;
    color:#fff;
    display:block;
    width:100%;
    background:red;
    min-height:100vh;
}

.user-panel {
    clear: left;
    display: block;
    float: left;
}

.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
    margin-left: -20%;
}

.user-panel>.info,  .user-panel>.info>a {
    color: #fff;
}

.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel {
    clear: left;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 25px 15px;
    border-bottom: 1px solid;
}

.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}


#right_contain { 
    margin-left: 30%;
}


#form_renseignement {
    display: flex;
}


#renseignement {
    margin-left: 17%;
    width: 100%;
}

.hr_liste {
    height: 2px;
    margin-left: 0;
    color: #F00;
    background-color: #ff8fc7;
    border-radius: 500% 0% 500% 0%;
    padding: 10px;
    border: 0; 
}

#titre_principal {
    font-family: Sail, sans-serif;
    margin-top: 20px;
}


#form_connexion { 
    width: 80%;
}

#form_registration {
    width: 80%;
}


.title-id {
    color: #046380;
}

.Liste_adoption {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    margin-bottom: 100px;
}



#header-perso { 
    background-image: url("../img/banniere.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    height: 500px;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 10px 5px #f1f1f1;
}

#header-perso3 { 
    background-image: url("../img/banner2.png");
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 200px;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 10px 5px #f1f1f1;
}

#connexion_id {
    margin-top : -10px;
    height: 50px;
}


#logo_text {
    text-align: center;
    font-size: 3em;
    height: 500px;
    width: 98%;
    color : #ff3399;
    margin-top: 95px;
    margin-left: 7%;
    box-shadow: 3px 3px 25px 5px #000;
    font-family: Zilla Slab Highlight, sans-serif;
}


#search {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    font-family: Cormorant Garamond, sans-serif;
}

.btn-success { 
    height: 20%;
    margin-top: 30px;
}

#titre_principal {
    font-family: Sail, sans-serif;
    margin-top: 20px;
}

#photo_animal {
    float: left;
}

.Liste_adoption {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    margin-bottom: 100px;
}

.hr_liste {
    height: 2px;
    margin-left: 0;
    color: #F00;
    background-color: #ff8fc7;
    border-radius: 500% 0% 500% 0%;
    padding: 10px;
    border: 0; 
}

#name_color {
    height: 2px;
    width: 20%;
    margin-left: 0;
    margin-top: -5px;
    color: #F00;
    background-color: #F00;
    border-radius: 50%;
    border: 0;
}

footer {
    clear: both;
    margin-top: 100px;
}