{% extends 'adminBase.html.twig' %}
{% block title %}PetAdopt' : Administration{% endblock %}
{% block body %}

<h1> Liste des animaux à adopter </h1>
<br/>

<table class="table">
        <thead>
            <tr>
            	<th class="title-id">Photo</th>                
                <th class="title-id">Nom</th>
                <th class="title-id">Contenu</th>
                <th class="title-id">Actions</th>
            </tr>
        </thead>
        <tbody>
               {% for article in articles %}
                    <tr>
                    	<td>
                            <img src="{{ article.image }}" alt="photo animal" style="width: 50%;">
                        </td>
                        <td>
                            {{ article.title }}
                        </td>
                        <td>
  							{{ article.content }} 
                        </td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-danger" id="del-billet" data-billet-title="" data-modal-confirm-url=""><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

{% endblock %}