{% extends 'adminBase.html.twig' %}
{% block title %}PetAdopt' : Administration{% endblock %}
{% block body %}
    <h1> Liste des utilisateurs </h1>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th class="title-id">Pseudo</th>
                <th class="title-id">Email</th>
                <th class="title-id">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {% if user.id == 1 %}
                        {% else %}
                            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-danger" id="del-billet" data-billet-title="" data-modal-confirm-url=""><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}