{% extends 'adminBase.html.twig' %}
{% block title %}PetAdopt' : Administration{% endblock %}
{% block body %}
    <h1 class="admin_title"> Liste des utilisateurs </h1>
    <table class="table">
        <thead>
            <tr>
                <th class="title-id">Pseudo</th>
                <th class="title-id">Email</th>
                <th class="title-id">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% if user.id == 1 %}
            {% else %}
                <tr>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-danger" id="del-billet" data-billet-title="" data-modal-confirm-url=""><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>
    <div class="navigation_admin">
         {{ knp_pagination_render(users) }}
    </div>
{% endblock %}