<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation-emails/2.2.1/foundation-emails.min.css" rel="stylesheet">
		<title>Mail de confirmation - petAdopt'</title>
	</head>
	<body>
		<span class="preheader"></span>
		<table class="body">
			<tr>
				<td class="center" align="center" valign="top">
					<center data-parsed="">
					<style type="text/css" align="center" class="float-center">
					body,
					html,
					.body {
						background: #f3f3f3 !important;
					}
					</style>
					<table class="spacer float-center"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
					<table align="center" class="container float-center"><tbody><tr><td>
						<table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
						<table class="row"><tbody><tr>
							<th class="small-12 large-12 columns first last"><table><tr><th>
								<h1>Merci pour votre confiance.</h1>
								<p>Bonjour {{ username }} <br/> Merci de votre réservation de {{ name }}. Vous pourrez retrouver toutes les informations de vos réservations sur votre compte dans la partie "Réservations".</p>

								<p>Si toutefois vous voulez annuler votre réservation, vous pouvez le faire via le site :</p>
								<ul>
									<li>Mon compte</li>
									<li>Reservations</li>
									<li>Choisir la réservation à annuler</li>
									<li>Cliquez sur "annuler la réservation"</li>
								<ul>
								<table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
								<hr>
							</th></tr></table></th>
						</tr></tbody></table>
						<table class="row footer text-center"><tbody><tr>
							<th class="small-12 large-3 columns"><table><tr><th>
								<p>
									Contacter nous aux 01 02 03 04 05<br>
									Email : YuKunOCR@gmail.com
								</p>
								<h3>PetAdopt'</h3>
							</th></tr></table></th>
						</tr></tbody></table>
					</td></tr></tbody></table>
					</center>
				</td>
			</tr>
		</table>
	</body>
</html>